<% provide(:name, @meet.name) %>
<div class="form-group">
	<div>
		<div>
			<div>
				<h4><%= @meet.name.capitalize %></h4>
			</div>
			<div>
				<p><%= @meet.description %></p>
				<p>By <%=@meet.name %></p>
				<ul>
					<li>
						<i></i><span><%= @meet.address %></span>
					</li>
					<li>
						<i></i><span><%= @meet.meet_date %> at <%= @meet.meet_time %> </span>
					</li>
				</ul>
			</div>
		</div>
	</div>


	<div>
	<div>
		<% if user_signed_in? && current_user != @meet.creator %>
			<% if @meet.meet_date %>
				<p class="meet-over">This meet has met.</p>

			<% elsif @meet.guests.include?(current_user) %>
				<%= form_for(current_user.invites.find_by(attended_id: @meet.id), :html => { method: :delete }) do |f| %>
					<%= f.submit "Leave meet", class: "form-control btn btn-danger" %>
				<% end %>

			<% else %>
				<%= form_for(current_user.invites.build(attended_id: @meet.id)) do |f| %>
					<%= f.hidden_field :attended_id, :value => @meet.id %>
					<%= f.submit "Attend Meet-Up", class: "form-control btn btn-success" %>
				<% end %>

			<% end %>
		<% elsif @meet.creator == current_user %>
			<%= link_to "Edit Meet-Up", edit_meet_path, class: "btn btn-primary" %>
			<%= link_to "Delete meet", @meet, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-danger" %>
		<% end %>
		</div>
	</div>

</div>








<div>
	<div>
		<h3><i></i>Users Attending</h3>
		<% @guests.each do |guest| %>
			<ul>
				<li><%= guest.name %></li>
			</ul>
		<% end %>
	</div>
</div>
